[submodule "emp-tool"]
	path = emp-tool
	url = https://github.com/emp-toolkit/emp-tool.git

[submodule "emp-ot"]
	path = emp-ot
	url = https://github.com/emp-toolkit/emp-ot.git

[submodule "external/mcl"]
	path = external/mcl
	url = https://github.com/herumi/mcl.git

[submodule "openfhe-development"]
	path = openfhe-development
	url = https://github.com/openfheorg/openfhe-development.git
	branch = v1.0.4